In [2]:
# importing the tools we need
import pandas as pd
import os
from sqlalchemy import create_engine

# -----------------------------------------
# TiDB credentials
# -----------------------------------------

username = "3ZpzE69BSNXuvY2.root"       
password = "MSiewQGRtx2F7qYu"       # Your actual password (keep this secret!)
host = "gateway01.us-west-2.prod.aws.tidbcloud.com"  # This is usually fixed
port = 4000
database = "stock_analysis"           # create this DB in TiDB 

# SSL certificate file downloaded from TiDB Cloud (place it inside a folder called 'certs')
ssl_certificate_path = "certs/ca-certificate.crt"

#  Now we build the connection string with SSL enabled
connection_url = (
    f"mysql+mysqlconnector://{username}:{password}@{host}:{port}/{database}"
    f"?ssl_ca={ssl_certificate_path}"
)

# Use this connection to talk to TiDB like its a normal MySQL database
engine = create_engine(connection_url)

# -----------------------------------------
# read CSV files
# -----------------------------------------
csv_folder = "csv_data"

# Loop through each CSV file in that folder
for file_name in os.listdir(csv_folder):
    if file_name.endswith(".csv"):
        # Get the stock symbol from the file name (e.g., TCS from TCS.csv)
        symbol = file_name.replace(".csv", "")

        # Create the full path to that CSV file
        file_path = os.path.join(csv_folder, file_name)

        try:
            # Read the CSV into a DataFrame (a spreadsheet-like table in Python)
            df = pd.read_csv(file_path)

            # Make all column names lowercase (helps avoid issues in SQL)
            df.columns = [col.lower() for col in df.columns]

            # Add a new column so we always know which stock the data came from
            df['symbol'] = symbol

            #  Upload this DataFrame to the 'stock_data' table in TiDB
            df.to_sql('stock_data', con=engine, if_exists='append', index=False)

            # Success message
            print(f"Uploaded data for '{symbol}' successfully.")

        except Exception as error:
            # If something goes wrong, show the error and keep going
            print(f"Could not upload data for '{symbol}': {error}")

Could not upload data for 'ADANIENT': (mysql.connector.errors.ProgrammingError) 1054 (42S22): Unknown column 'ticker' in 'field list'
[SQL: INSERT INTO stock_data (ticker, close, date, high, low, month, open, volume, symbol) VALUES (%(ticker)s, %(close)s, %(date)s, %(high)s, %(low)s, %(month)s, %(open)s, %(volume)s, %(symbol)s)]
[parameters: [{'ticker': 'ADANIENT', 'close': 2362.7, 'date': '2023-12-01_05-30-00', 'high': 2403.35, 'low': 2354.1, 'month': '2023-12', 'open': 2370.0, 'volume': 1792983, 'symbol': 'ADANIENT'}, {'ticker': 'ADANIENT', 'close': 2531.2, 'date': '2023-12-04_05-30-00', 'high': 2595.0, 'low': 2487.45, 'month': '2023-12', 'open': 2549.95, 'volume': 5681516, 'symbol': 'ADANIENT'}, {'ticker': 'ADANIENT', 'close': 2959.35, 'date': '2023-12-05_05-30-00', 'high': 2999.9, 'low': 2531.2, 'month': '2023-12', 'open': 2531.2, 'volume': 22879079, 'symbol': 'ADANIENT'}, {'ticker': 'ADANIENT', 'close': 2883.95, 'date': '2023-12-06_05-30-00', 'high': 3154.55, 'low': 2844.85, 'month': '2023-12', 'open': 3080.0, 'volume': 19355777, 'symbol': 'ADANIENT'}, {'ticker': 'ADANIENT', 'close': 2887.15, 'date': '2023-12-07_05-30-00', 'high': 2945.9, 'low': 2853.05, 'month': '2023-12', 'open': 2900.0, 'volume': 6325887, 'symbol': 'ADANIENT'}, {'ticker': 'ADANIENT', 'close': 2822.15, 'date': '2023-12-08_05-30-00', 'high': 2927.0, 'low': 2760.0, 'month': '2023-12', 'open': 2902.7, 'volume': 6959428, 'symbol': 'ADANIENT'}, {'ticker': 'ADANIENT', 'close': 2855.8, 'date': '2023-12-11_05-30-00', 'high': 2919.9, 'low': 2811.05, 'month': '2023-12', 'open': 2837.05, 'volume': 5064123, 'symbol': 'ADANIENT'}, {'ticker': 'ADANIENT', 'close': 2857.65, 'date': '2023-12-12_05-30-00', 'high': 2895.95, 'low': 2840.55, 'month': '2023-12', 'open': 2869.1, 'volume': 2017772, 'symbol': 'ADANIENT'}  ... displaying 10 of 243 total bound parameter sets ...  {'ticker': 'ADANIENT', 'close': 2183.65, 'date': '2024-11-21_05-30-00', 'high': 2539.35, 'low': 2155.05, 'month': '2024-11', 'open': 2539.35, 'volume': 21796668, 'symbol': 'ADANIENT'}, {'ticker': 'ADANIENT', 'close': 2228.0, 'date': '2024-11-22_05-30-00', 'high': 2289.7, 'low': 2025.0, 'month': '2024-11', 'open': 2101.0, 'volume': 20939196, 'symbol': 'ADANIENT'}]]
(Background on this error at: https://sqlalche.me/e/20/f405)
Could not upload data for 'ADANIPORTS': (mysql.connector.errors.ProgrammingError) 1054 (42S22): Unknown column 'ticker' in 'field list'
[SQL: INSERT INTO stock_data (ticker, close, date, high, low, month, open, volume, symbol) VALUES (%(ticker)s, %(close)s, %(date)s, %(high)s, %(low)s, %(month)s, %(open)s, %(volume)s, %(symbol)s)]
[parameters: [{'ticker': 'ADANIPORTS', 'close': 827.8, 'date': '2023-12-01_05-30-00', 'high': 839.2, 'low': 825.5, 'month': '2023-12', 'open': 839.2, 'volume': 2932775, 'symbol': 'ADANIPORTS'}, {'ticker': 'ADANIPORTS', 'close': 878.65, 'date': '2023-12-04_05-30-00', 'high': 883.35, 'low': 858.5, 'month': '2023-12', 'open': 865.0, 'volume': 11064795, 'symbol': 'ADANIPORTS'}, {'ticker': 'ADANIPORTS', 'close': 1013.1, 'date': '2023-12-05_05-30-00', 'high': 1024.3, 'low': 880.0, 'month': '2023-12', 'open': 884.0, 'volume': 46564412, 'symbol': 'ADANIPORTS'}, {'ticker': 'ADANIPORTS', 'close': 1017.95, 'date': '2023-12-06_05-30-00', 'high': 1082.5, 'low': 1008.1, 'month': '2023-12', 'open': 1045.0, 'volume': 41008947, 'symbol': 'ADANIPORTS'}, {'ticker': 'ADANIPORTS', 'close': 1039.65, 'date': '2023-12-07_05-30-00', 'high': 1058.75, 'low': 1021.65, 'month': '2023-12', 'open': 1029.0, 'volume': 14840081, 'symbol': 'ADANIPORTS'}, {'ticker': 'ADANIPORTS', 'close': 1022.95, 'date': '2023-12-08_05-30-00', 'high': 1055.0, 'low': 992.3, 'month': '2023-12', 'open': 1048.0, 'volume': 12202462, 'symbol': 'ADANIPORTS'}, {'ticker': 'ADANIPORTS', 'close': 1031.9, 'date': '2023-12-11_05-30-00', 'high': 1048.0, 'low': 1015.65, 'month': '2023-12', 'open': 1026.8, 'volume': 7889666, 'symbol': 'ADANIPORTS'}, {'ticker': 'ADANIPORTS', 'close': 1041.95, 'date': '2023-12-12_05-30-00', 'high': 1048.45, 'low': 1023.25, 'month': '2023-12', 'open': 1037.05, 'volume': 4902289, 'symbol': 'ADANIPORTS'}  ... displaying 10 of 243 total bound parameter sets ...  {'ticker': 'ADANIPORTS', 'close': 1114.65, 'date': '2024-11-21_05-30-00', 'high': 1160.7, 'low': 995.65, 'month': '2024-11', 'open': 1160.7, 'volume': 46926687, 'symbol': 'ADANIPORTS'}, {'ticker': 'ADANIPORTS', 'close': 1136.75, 'date': '2024-11-22_05-30-00', 'high': 1155.9, 'low': 1054.0, 'month': '2024-11', 'open': 1072.6, 'volume': 27086168, 'symbol': 'ADANIPORTS'}]]
(Background on this error at: https://sqlalche.me/e/20/f405)
Could not upload data for 'APOLLOHOSP': (mysql.connector.errors.ProgrammingError) 1054 (42S22): Unknown column 'ticker' in 'field list'
[SQL: INSERT INTO stock_data (ticker, close, date, high, low, month, open, volume, symbol) VALUES (%(ticker)s, %(close)s, %(date)s, %(high)s, %(low)s, %(month)s, %(open)s, %(volume)s, %(symbol)s)]
[parameters: [{'ticker': 'APOLLOHOSP', 'close': 5591.15, 'date': '2023-12-01_05-30-00', 'high': 5687.65, 'low': 5530.35, 'month': '2023-12', 'open': 5550.0, 'volume': 546990, 'symbol': 'APOLLOHOSP'}, {'ticker': 'APOLLOHOSP', 'close': 5622.55, 'date': '2023-12-04_05-30-00', 'high': 5658.25, 'low': 5569.6, 'month': '2023-12', 'open': 5626.0, 'volume': 936113, 'symbol': 'APOLLOHOSP'}, {'ticker': 'APOLLOHOSP', 'close': 5580.2, 'date': '2023-12-05_05-30-00', 'high': 5689.0, 'low': 5525.0, 'month': '2023-12', 'open': 5610.0, 'volume': 787929, 'symbol': 'APOLLOHOSP'}, {'ticker': 'APOLLOHOSP', 'close': 5543.1, 'date': '2023-12-06_05-30-00', 'high': 5639.0, 'low': 5508.75, 'month': '2023-12', 'open': 5534.15, 'volume': 574427, 'symbol': 'APOLLOHOSP'}, {'ticker': 'APOLLOHOSP', 'close': 5461.4, 'date': '2023-12-07_05-30-00', 'high': 5519.8, 'low': 5441.5, 'month': '2023-12', 'open': 5490.25, 'volume': 510609, 'symbol': 'APOLLOHOSP'}, {'ticker': 'APOLLOHOSP', 'close': 5555.35, 'date': '2023-12-08_05-30-00', 'high': 5572.55, 'low': 5439.05, 'month': '2023-12', 'open': 5495.0, 'volume': 456382, 'symbol': 'APOLLOHOSP'}, {'ticker': 'APOLLOHOSP', 'close': 5547.35, 'date': '2023-12-11_05-30-00', 'high': 5555.35, 'low': 5490.0, 'month': '2023-12', 'open': 5550.0, 'volume': 238128, 'symbol': 'APOLLOHOSP'}, {'ticker': 'APOLLOHOSP', 'close': 5428.95, 'date': '2023-12-12_05-30-00', 'high': 5550.0, 'low': 5403.2, 'month': '2023-12', 'open': 5550.0, 'volume': 615205, 'symbol': 'APOLLOHOSP'}  ... displaying 10 of 243 total bound parameter sets ...  {'ticker': 'APOLLOHOSP', 'close': 6742.5, 'date': '2024-11-21_05-30-00', 'high': 6761.95, 'low': 6594.15, 'month': '2024-11', 'open': 6623.55, 'volume': 258574, 'symbol': 'APOLLOHOSP'}, {'ticker': 'APOLLOHOSP', 'close': 6935.1, 'date': '2024-11-22_05-30-00', 'high': 6950.3, 'low': 6751.6, 'month': '2024-11', 'open': 6751.6, 'volume': 498633, 'symbol': 'APOLLOHOSP'}]]
(Background on this error at: https://sqlalche.me/e/20/f405)
Could not upload data for 'ASIANPAINT': (mysql.connector.errors.ProgrammingError) 1054 (42S22): Unknown column 'ticker' in 'field list'
[SQL: INSERT INTO stock_data (ticker, close, date, high, low, month, open, volume, symbol) VALUES (%(ticker)s, %(close)s, %(date)s, %(high)s, %(low)s, %(month)s, %(open)s, %(volume)s, %(symbol)s)]
[parameters: [{'ticker': 'ASIANPAINT', 'close': 3173.4, 'date': '2023-12-01_05-30-00', 'high': 3190.6, 'low': 3140.25, 'month': '2023-12', 'open': 3146.95, 'volume': 960196, 'symbol': 'ASIANPAINT'}, {'ticker': 'ASIANPAINT', 'close': 3194.55, 'date': '2023-12-04_05-30-00', 'high': 3204.45, 'low': 3166.5, 'month': '2023-12', 'open': 3190.0, 'volume': 1018189, 'symbol': 'ASIANPAINT'}, {'ticker': 'ASIANPAINT', 'close': 3226.25, 'date': '2023-12-05_05-30-00', 'high': 3247.65, 'low': 3180.0, 'month': '2023-12', 'open': 3197.0, 'volume': 1005550, 'symbol': 'ASIANPAINT'}, {'ticker': 'ASIANPAINT', 'close': 3252.55, 'date': '2023-12-06_05-30-00', 'high': 3289.0, 'low': 3232.95, 'month': '2023-12', 'open': 3265.0, 'volume': 1229158, 'symbol': 'ASIANPAINT'}, {'ticker': 'ASIANPAINT', 'close': 3251.8, 'date': '2023-12-07_05-30-00', 'high': 3299.95, 'low': 3246.85, 'month': '2023-12', 'open': 3284.0, 'volume': 1071725, 'symbol': 'ASIANPAINT'}, {'ticker': 'ASIANPAINT', 'close': 3232.0, 'date': '2023-12-08_05-30-00', 'high': 3269.8, 'low': 3227.8, 'month': '2023-12', 'open': 3255.0, 'volume': 895852, 'symbol': 'ASIANPAINT'}, {'ticker': 'ASIANPAINT', 'close': 3233.0, 'date': '2023-12-11_05-30-00', 'high': 3245.0, 'low': 3185.5, 'month': '2023-12', 'open': 3230.0, 'volume': 910426, 'symbol': 'ASIANPAINT'}, {'ticker': 'ASIANPAINT', 'close': 3224.75, 'date': '2023-12-12_05-30-00', 'high': 3257.05, 'low': 3210.0, 'month': '2023-12', 'open': 3228.0, 'volume': 1019030, 'symbol': 'ASIANPAINT'}  ... displaying 10 of 243 total bound parameter sets ...  {'ticker': 'ASIANPAINT', 'close': 2428.15, 'date': '2024-11-21_05-30-00', 'high': 2465.95, 'low': 2425.0, 'month': '2024-11', 'open': 2454.7, 'volume': 1377624, 'symbol': 'ASIANPAINT'}, {'ticker': 'ASIANPAINT', 'close': 2472.2, 'date': '2024-11-22_05-30-00', 'high': 2493.95, 'low': 2422.95, 'month': '2024-11', 'open': 2430.0, 'volume': 3805854, 'symbol': 'ASIANPAINT'}]]
(Background on this error at: https://sqlalche.me/e/20/f405)
Could not upload data for 'AXISBANK': (mysql.connector.errors.ProgrammingError) 1054 (42S22): Unknown column 'ticker' in 'field list'
[SQL: INSERT INTO stock_data (ticker, close, date, high, low, month, open, volume, symbol) VALUES (%(ticker)s, %(close)s, %(date)s, %(high)s, %(low)s, %(month)s, %(open)s, %(volume)s, %(symbol)s)]
[parameters: [{'ticker': 'AXISBANK', 'close': 1104.65, 'date': '2023-12-01_05-30-00', 'high': 1109.0, 'low': 1070.2, 'month': '2023-12', 'open': 1075.4, 'volume': 14428758, 'symbol': 'AXISBANK'}, {'ticker': 'AXISBANK', 'close': 1125.6, 'date': '2023-12-04_05-30-00', 'high': 1129.0, 'low': 1099.1, 'month': '2023-12', 'open': 1120.5, 'volume': 14043213, 'symbol': 'AXISBANK'}, {'ticker': 'AXISBANK', 'close': 1132.45, 'date': '2023-12-05_05-30-00', 'high': 1151.85, 'low': 1127.15, 'month': '2023-12', 'open': 1136.8, 'volume': 15804808, 'symbol': 'AXISBANK'}, {'ticker': 'AXISBANK', 'close': 1120.5, 'date': '2023-12-06_05-30-00', 'high': 1145.7, 'low': 1117.95, 'month': '2023-12', 'open': 1135.1, 'volume': 7342767, 'symbol': 'AXISBANK'}, {'ticker': 'AXISBANK', 'close': 1117.85, 'date': '2023-12-07_05-30-00', 'high': 1129.6, 'low': 1108.5, 'month': '2023-12', 'open': 1119.25, 'volume': 6439419, 'symbol': 'AXISBANK'}, {'ticker': 'AXISBANK', 'close': 1131.2, 'date': '2023-12-08_05-30-00', 'high': 1134.35, 'low': 1111.5, 'month': '2023-12', 'open': 1115.85, 'volume': 7300989, 'symbol': 'AXISBANK'}, {'ticker': 'AXISBANK', 'close': 1116.5, 'date': '2023-12-11_05-30-00', 'high': 1139.4, 'low': 1113.85, 'month': '2023-12', 'open': 1129.0, 'volume': 6924589, 'symbol': 'AXISBANK'}, {'ticker': 'AXISBANK', 'close': 1131.0, 'date': '2023-12-12_05-30-00', 'high': 1133.9, 'low': 1109.0, 'month': '2023-12', 'open': 1120.0, 'volume': 9044111, 'symbol': 'AXISBANK'}  ... displaying 10 of 243 total bound parameter sets ...  {'ticker': 'AXISBANK', 'close': 1139.15, 'date': '2024-11-21_05-30-00', 'high': 1152.0, 'low': 1115.75, 'month': '2024-11', 'open': 1138.0, 'volume': 8126248, 'symbol': 'AXISBANK'}, {'ticker': 'AXISBANK', 'close': 1142.4, 'date': '2024-11-22_05-30-00', 'high': 1147.9, 'low': 1127.55, 'month': '2024-11', 'open': 1136.65, 'volume': 16687505, 'symbol': 'AXISBANK'}]]
(Background on this error at: https://sqlalche.me/e/20/f405)
Could not upload data for 'BAJAJ-AUTO': (mysql.connector.errors.ProgrammingError) 1054 (42S22): Unknown column 'ticker' in 'field list'
[SQL: INSERT INTO stock_data (ticker, close, date, high, low, month, open, volume, symbol) VALUES (%(ticker)s, %(close)s, %(date)s, %(high)s, %(low)s, %(month)s, %(open)s, %(volume)s, %(symbol)s)]
[parameters: [{'ticker': 'BAJAJ-AUTO', 'close': 6046.05, 'date': '2023-12-01_05-30-00', 'high': 6090.0, 'low': 6003.3, 'month': '2023-12', 'open': 6050.0, 'volume': 439023, 'symbol': 'BAJAJ-AUTO'}, {'ticker': 'BAJAJ-AUTO', 'close': 6201.7, 'date': '2023-12-04_05-30-00', 'high': 6217.7, 'low': 6087.45, 'month': '2023-12', 'open': 6090.55, 'volume': 359158, 'symbol': 'BAJAJ-AUTO'}, {'ticker': 'BAJAJ-AUTO', 'close': 6140.1, 'date': '2023-12-05_05-30-00', 'high': 6194.05, 'low': 6111.1, 'month': '2023-12', 'open': 6194.05, 'volume': 565826, 'symbol': 'BAJAJ-AUTO'}, {'ticker': 'BAJAJ-AUTO', 'close': 6069.95, 'date': '2023-12-06_05-30-00', 'high': 6096.0, 'low': 5987.85, 'month': '2023-12', 'open': 6089.05, 'volume': 699201, 'symbol': 'BAJAJ-AUTO'}, {'ticker': 'BAJAJ-AUTO', 'close': 6093.6, 'date': '2023-12-07_05-30-00', 'high': 6154.45, 'low': 6063.1, 'month': '2023-12', 'open': 6069.95, 'volume': 427407, 'symbol': 'BAJAJ-AUTO'}, {'ticker': 'BAJAJ-AUTO', 'close': 6075.7, 'date': '2023-12-08_05-30-00', 'high': 6120.0, 'low': 6048.05, 'month': '2023-12', 'open': 6115.0, 'volume': 233266, 'symbol': 'BAJAJ-AUTO'}, {'ticker': 'BAJAJ-AUTO', 'close': 6138.4, 'date': '2023-12-11_05-30-00', 'high': 6145.0, 'low': 6018.3, 'month': '2023-12', 'open': 6085.0, 'volume': 175955, 'symbol': 'BAJAJ-AUTO'}, {'ticker': 'BAJAJ-AUTO', 'close': 6254.2, 'date': '2023-12-12_05-30-00', 'high': 6299.95, 'low': 6149.95, 'month': '2023-12', 'open': 6164.0, 'volume': 810900, 'symbol': 'BAJAJ-AUTO'}  ... displaying 10 of 243 total bound parameter sets ...  {'ticker': 'BAJAJ-AUTO', 'close': 9505.0, 'date': '2024-11-21_05-30-00', 'high': 9554.0, 'low': 9414.35, 'month': '2024-11', 'open': 9473.5, 'volume': 282212, 'symbol': 'BAJAJ-AUTO'}, {'ticker': 'BAJAJ-AUTO', 'close': 9481.65, 'date': '2024-11-22_05-30-00', 'high': 9602.9, 'low': 9444.1, 'month': '2024-11', 'open': 9545.0, 'volume': 619823, 'symbol': 'BAJAJ-AUTO'}]]
(Background on this error at: https://sqlalche.me/e/20/f405)
Could not upload data for 'BAJAJFINSV': (mysql.connector.errors.ProgrammingError) 1054 (42S22): Unknown column 'ticker' in 'field list'
[SQL: INSERT INTO stock_data (ticker, close, date, high, low, month, open, volume, symbol) VALUES (%(ticker)s, %(close)s, %(date)s, %(high)s, %(low)s, %(month)s, %(open)s, %(volume)s, %(symbol)s)]
[parameters: [{'ticker': 'BAJAJFINSV', 'close': 1685.95, 'date': '2023-12-01_05-30-00', 'high': 1688.7, 'low': 1669.95, 'month': '2023-12', 'open': 1680.0, 'volume': 1101136, 'symbol': 'BAJAJFINSV'}, {'ticker': 'BAJAJFINSV', 'close': 1696.25, 'date': '2023-12-04_05-30-00', 'high': 1714.7, 'low': 1685.9, 'month': '2023-12', 'open': 1700.0, 'volume': 1419178, 'symbol': 'BAJAJFINSV'}, {'ticker': 'BAJAJFINSV', 'close': 1692.7, 'date': '2023-12-05_05-30-00', 'high': 1713.4, 'low': 1673.25, 'month': '2023-12', 'open': 1696.3, 'volume': 1778602, 'symbol': 'BAJAJFINSV'}, {'ticker': 'BAJAJFINSV', 'close': 1700.35, 'date': '2023-12-06_05-30-00', 'high': 1710.0, 'low': 1692.9, 'month': '2023-12', 'open': 1701.0, 'volume': 737176, 'symbol': 'BAJAJFINSV'}, {'ticker': 'BAJAJFINSV', 'close': 1704.05, 'date': '2023-12-07_05-30-00', 'high': 1724.0, 'low': 1690.0, 'month': '2023-12', 'open': 1700.35, 'volume': 941890, 'symbol': 'BAJAJFINSV'}, {'ticker': 'BAJAJFINSV', 'close': 1710.15, 'date': '2023-12-08_05-30-00', 'high': 1714.55, 'low': 1692.5, 'month': '2023-12', 'open': 1705.0, 'volume': 1376050, 'symbol': 'BAJAJFINSV'}, {'ticker': 'BAJAJFINSV', 'close': 1702.8, 'date': '2023-12-11_05-30-00', 'high': 1717.0, 'low': 1698.25, 'month': '2023-12', 'open': 1700.15, 'volume': 1003371, 'symbol': 'BAJAJFINSV'}, {'ticker': 'BAJAJFINSV', 'close': 1706.75, 'date': '2023-12-12_05-30-00', 'high': 1719.75, 'low': 1700.5, 'month': '2023-12', 'open': 1704.8, 'volume': 1390539, 'symbol': 'BAJAJFINSV'}  ... displaying 10 of 243 total bound parameter sets ...  {'ticker': 'BAJAJFINSV', 'close': 1569.25, 'date': '2024-11-21_05-30-00', 'high': 1596.0, 'low': 1565.25, 'month': '2024-11', 'open': 1596.0, 'volume': 984265, 'symbol': 'BAJAJFINSV'}, {'ticker': 'BAJAJFINSV', 'close': 1600.85, 'date': '2024-11-22_05-30-00', 'high': 1606.0, 'low': 1562.05, 'month': '2024-11', 'open': 1569.95, 'volume': 2082813, 'symbol': 'BAJAJFINSV'}]]
(Background on this error at: https://sqlalche.me/e/20/f405)
Could not upload data for 'BAJFINANCE': (mysql.connector.errors.ProgrammingError) 1054 (42S22): Unknown column 'ticker' in 'field list'
[SQL: INSERT INTO stock_data (ticker, close, date, high, low, month, open, volume, symbol) VALUES (%(ticker)s, %(close)s, %(date)s, %(high)s, %(low)s, %(month)s, %(open)s, %(volume)s, %(symbol)s)]
[parameters: [{'ticker': 'BAJFINANCE', 'close': 7259.35, 'date': '2023-12-01_05-30-00', 'high': 7279.85, 'low': 7142.0, 'month': '2023-12', 'open': 7160.0, 'volume': 900477, 'symbol': 'BAJFINANCE'}, {'ticker': 'BAJFINANCE', 'close': 7407.65, 'date': '2023-12-04_05-30-00', 'high': 7420.0, 'low': 7315.05, 'month': '2023-12', 'open': 7340.0, 'volume': 1101426, 'symbol': 'BAJFINANCE'}, {'ticker': 'BAJFINANCE', 'close': 7349.8, 'date': '2023-12-05_05-30-00', 'high': 7440.0, 'low': 7320.05, 'month': '2023-12', 'open': 7430.0, 'volume': 1522242, 'symbol': 'BAJFINANCE'}, {'ticker': 'BAJFINANCE', 'close': 7427.1, 'date': '2023-12-06_05-30-00', 'high': 7459.0, 'low': 7365.05, 'month': '2023-12', 'open': 7390.0, 'volume': 701800, 'symbol': 'BAJFINANCE'}, {'ticker': 'BAJFINANCE', 'close': 7391.2, 'date': '2023-12-07_05-30-00', 'high': 7440.0, 'low': 7326.0, 'month': '2023-12', 'open': 7390.0, 'volume': 668862, 'symbol': 'BAJFINANCE'}, {'ticker': 'BAJFINANCE', 'close': 7307.6, 'date': '2023-12-08_05-30-00', 'high': 7398.1, 'low': 7274.0, 'month': '2023-12', 'open': 7390.55, 'volume': 1144388, 'symbol': 'BAJFINANCE'}, {'ticker': 'BAJFINANCE', 'close': 7292.75, 'date': '2023-12-11_05-30-00', 'high': 7352.7, 'low': 7270.05, 'month': '2023-12', 'open': 7325.0, 'volume': 590055, 'symbol': 'BAJFINANCE'}, {'ticker': 'BAJFINANCE', 'close': 7314.55, 'date': '2023-12-12_05-30-00', 'high': 7354.0, 'low': 7280.0, 'month': '2023-12', 'open': 7280.0, 'volume': 633312, 'symbol': 'BAJFINANCE'}  ... displaying 10 of 243 total bound parameter sets ...  {'ticker': 'BAJFINANCE', 'close': 6465.65, 'date': '2024-11-21_05-30-00', 'high': 6614.0, 'low': 6451.0, 'month': '2024-11', 'open': 6614.0, 'volume': 1101080, 'symbol': 'BAJFINANCE'}, {'ticker': 'BAJFINANCE', 'close': 6683.95, 'date': '2024-11-22_05-30-00', 'high': 6722.4, 'low': 6456.05, 'month': '2024-11', 'open': 6470.0, 'volume': 969855, 'symbol': 'BAJFINANCE'}]]
(Background on this error at: https://sqlalche.me/e/20/f405)
Could not upload data for 'BEL': (mysql.connector.errors.ProgrammingError) 1054 (42S22): Unknown column 'ticker' in 'field list'
[SQL: INSERT INTO stock_data (ticker, close, date, high, low, month, open, volume, symbol) VALUES (%(ticker)s, %(close)s, %(date)s, %(high)s, %(low)s, %(month)s, %(open)s, %(volume)s, %(symbol)s)]

In [3]:
# -----------------------------
# STEP 1: Import necessary tools
# -----------------------------
import pandas as pd
import os
from sqlalchemy import create_engine

# -----------------------------
# STEP 2: TiDB Cloud credentials
# -----------------------------
username = "3ZpzE69BSNXuvY2.root"
password = "MSiewQGRtx2F7qYu"
host = "gateway01.us-west-2.prod.aws.tidbcloud.com"
port = 4000
database = "stock_analysis"  # You must create this database manually in TiDB Console
ssl_certificate_path = "certs/ca-certificate.crt"

# -----------------------------
# STEP 3: Build SQLAlchemy connection URL with SSL
# -----------------------------
connection_url = (
    f"mysql+mysqlconnector://{username}:{password}@{host}:{port}/{database}"
    f"?ssl_ca={ssl_certificate_path}"
)

engine = create_engine(connection_url)

# -----------------------------
# STEP 4: Upload CSV files
# -----------------------------
csv_folder = "csv_data"  # Your folder containing stock CSVs

# First run: replace the table to ensure clean structure
first_file = True

for file_name in os.listdir(csv_folder):
    if file_name.endswith(".csv"):
        symbol = file_name.replace(".csv", "")
        file_path = os.path.join(csv_folder, file_name)

        try:
            df = pd.read_csv(file_path)

            # Normalize column names
            df.columns = [col.lower() for col in df.columns]

            # Add the symbol column
            df['symbol'] = symbol

            # Upload to TiDB
            if_exists_mode = 'replace' if first_file else 'append'
            df.to_sql('stock_data', con=engine, if_exists=if_exists_mode, index=False)

            print(f"Uploaded data for '{symbol}' successfully.")
            first_file = False  # only replace on the first file

        except Exception as e:
            print(f"Could not upload data for '{symbol}': {e}")

Uploaded data for 'ADANIENT' successfully.
Uploaded data for 'ADANIPORTS' successfully.
Uploaded data for 'APOLLOHOSP' successfully.
Uploaded data for 'ASIANPAINT' successfully.
Uploaded data for 'AXISBANK' successfully.
Uploaded data for 'BAJAJ-AUTO' successfully.
Uploaded data for 'BAJAJFINSV' successfully.
Uploaded data for 'BAJFINANCE' successfully.
Uploaded data for 'BEL' successfully.
Uploaded data for 'BHARTIARTL' successfully.
Uploaded data for 'BPCL' successfully.
Uploaded data for 'BRITANNIA' successfully.
Uploaded data for 'CIPLA' successfully.
Uploaded data for 'COALINDIA' successfully.
Uploaded data for 'DRREDDY' successfully.
Uploaded data for 'EICHERMOT' successfully.
Uploaded data for 'GRASIM' successfully.
Uploaded data for 'HCLTECH' successfully.
Uploaded data for 'HDFCBANK' successfully.
Uploaded data for 'HDFCLIFE' successfully.
Uploaded data for 'HEROMOTOCO' successfully.
Uploaded data for 'HINDALCO' successfully.
Uploaded data for 'HINDUNILVR' successfully.
Uploaded data for 'ICICIBANK' successfully.
Uploaded data for 'INDUSINDBK' successfully.
Uploaded data for 'INFY' successfully.
Uploaded data for 'ITC' successfully.
Uploaded data for 'JSWSTEEL' successfully.
Uploaded data for 'KOTAKBANK' successfully.
Uploaded data for 'LT' successfully.
Uploaded data for 'M&M' successfully.
Uploaded data for 'MARUTI' successfully.
Uploaded data for 'NESTLEIND' successfully.
Uploaded data for 'NTPC' successfully.
Uploaded data for 'ONGC' successfully.
Uploaded data for 'POWERGRID' successfully.
Uploaded data for 'RELIANCE' successfully.
Uploaded data for 'SBILIFE' successfully.
Uploaded data for 'SBIN' successfully.
Uploaded data for 'SHRIRAMFIN' successfully.
Uploaded data for 'SUNPHARMA' successfully.
Uploaded data for 'TATACONSUM' successfully.
Uploaded data for 'TATAMOTORS' successfully.
Uploaded data for 'TATASTEEL' successfully.
Uploaded data for 'TCS' successfully.
Uploaded data for 'TECHM' successfully.
Uploaded data for 'TITAN' successfully.
Uploaded data for 'TRENT' successfully.
Uploaded data for 'ULTRACEMCO' successfully.
Uploaded data for 'WIPRO' successfully.

In [7]:
import ssl
print(" Python is using SSL version:", ssl.OPENSSL_VERSION)

 Python is using SSL version: OpenSSL 3.0.16 11 Feb 2025

In [8]:
pip uninstall mysql-connector-python mysql-connector

^C
Note: you may need to restart the kernel to use updated packages.

In [4]:
import ssl
print(ssl.OPENSSL_VERSION)

OpenSSL 3.0.16 11 Feb 2025

In [1]:
pip install sqlalchemy mysql-connector-python pandas

Collecting sqlalchemy
  Downloading sqlalchemy-2.0.41-cp312-cp312-win_amd64.whl.metadata (9.8 kB)
Collecting mysql-connector-python
  Downloading mysql_connector_python-9.4.0-cp312-cp312-win_amd64.whl.metadata (7.7 kB)
Collecting pandas
  Downloading pandas-2.3.1-cp312-cp312-win_amd64.whl.metadata (19 kB)
Collecting greenlet>=1 (from sqlalchemy)
  Downloading greenlet-3.2.3-cp312-cp312-win_amd64.whl.metadata (4.2 kB)
Collecting typing-extensions>=4.6.0 (from sqlalchemy)
  Downloading typing_extensions-4.14.1-py3-none-any.whl.metadata (3.0 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.3.1-cp312-cp312-win_amd64.whl.metadata (60 kB)
     ---------------------------------------- 0.0/60.9 kB ? eta -:--:--
     ---------------------------------------- 60.9/60.9 kB 1.6 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\digital suppliers\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\digital suppliers\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading sqlalchemy-2.0.41-cp312-cp312-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   -- ------------------------------------- 0.1/2.1 MB 2.2 MB/s eta 0:00:01
   --- ------------------------------------ 0.2/2.1 MB 2.5 MB/s eta 0:00:01
   ------ --------------------------------- 0.4/2.1 MB 2.5 MB/s eta 0:00:01
   --------- ------------------------------ 0.5/2.1 MB 2.8 MB/s eta 0:00:01
   ----------- ---------------------------- 0.6/2.1 MB 2.7 MB/s eta 0:00:01
   ------------- -------------------------- 0.7/2.1 MB 2.7 MB/s eta 0:00:01
   ---------------- ----------------------- 0.8/2.1 MB 2.7 MB/s eta 0:00:01
   ------------------- -------------------- 1.0/2.1 MB 2.9 MB/s eta 0:00:01
   -------------------- ------------------- 1.1/2.1 MB 2.8 MB/s eta 0:00:01
   ------------------------ --------------- 1.3/2.1 MB 2.9 MB/s eta 0:00:01
   -------------------------- ------------- 1.4/2.1 MB 2.9 MB/s eta 0:00:01
   ------------------------------ --------- 1.6/2.1 MB 3.0 MB/s eta 0:00:01
   -------------------------------- ------- 1.7/2.1 MB 3.1 MB/s eta 0:00:01
   ------------------------------------ --- 1.9/2.1 MB 3.1 MB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 3.1 MB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 3.1 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 2.8 MB/s eta 0:00:00
Downloading mysql_connector_python-9.4.0-cp312-cp312-win_amd64.whl (16.4 MB)
   ---------------------------------------- 0.0/16.4 MB ? eta -:--:--
   ---------------------------------------- 0.2/16.4 MB 5.9 MB/s eta 0:00:03
    --------------------------------------- 0.4/16.4 MB 4.9 MB/s eta 0:00:04
   - -------------------------------------- 0.4/16.4 MB 4.6 MB/s eta 0:00:04
   - -------------------------------------- 0.5/16.4 MB 2.6 MB/s eta 0:00:07
   - -------------------------------------- 0.5/16.4 MB 2.6 MB/s eta 0:00:07
   - -------------------------------------- 0.7/16.4 MB 2.7 MB/s eta 0:00:06
   -- ------------------------------------- 0.9/16.4 MB 2.9 MB/s eta 0:00:06
   -- ------------------------------------- 1.0/16.4 MB 3.0 MB/s eta 0:00:06
   --- ------------------------------------ 1.3/16.4 MB 3.3 MB/s eta 0:00:05
   --- ------------------------------------ 1.5/16.4 MB 3.3 MB/s eta 0:00:05
   ---- ----------------------------------- 1.7/16.4 MB 3.4 MB/s eta 0:00:05
   ---- ----------------------------------- 1.8/16.4 MB 3.4 MB/s eta 0:00:05
   ----- ---------------------------------- 2.1/16.4 MB 3.6 MB/s eta 0:00:04
   ----- ---------------------------------- 2.3/16.4 MB 3.6 MB/s eta 0:00:04
   ----- ---------------------------------- 2.5/16.4 MB 3.7 MB/s eta 0:00:04
   ------ --------------------------------- 2.7/16.4 MB 3.9 MB/s eta 0:00:04
   ------- -------------------------------- 2.9/16.4 MB 3.8 MB/s eta 0:00:04
   ------- -------------------------------- 3.1/16.4 MB 3.9 MB/s eta 0:00:04
   ------- -------------------------------- 3.2/16.4 MB 3.8 MB/s eta 0:00:04
   ------- -------------------------------- 3.2/16.4 MB 3.7 MB/s eta 0:00:04
   -------- ------------------------------- 3.3/16.4 MB 3.5 MB/s eta 0:00:04
   -------- ------------------------------- 3.4/16.4 MB 3.5 MB/s eta 0:00:04
   -------- ------------------------------- 3.5/16.4 MB 3.4 MB/s eta 0:00:04
   -------- ------------------------------- 3.5/16.4 MB 3.3 MB/s eta 0:00:04
   -------- ------------------------------- 3.6/16.4 MB 3.2 MB/s eta 0:00:04
   -------- ------------------------------- 3.7/16.4 MB 3.2 MB/s eta 0:00:05
   --------- ------------------------------ 3.7/16.4 MB 3.1 MB/s eta 0:00:05
   --------- ------------------------------ 3.8/16.4 MB 3.1 MB/s eta 0:00:05
   --------- ------------------------------ 3.9/16.4 MB 3.0 MB/s eta 0:00:05
   --------- ------------------------------ 4.0/16.4 MB 3.0 MB/s eta 0:00:05
   --------- ------------------------------ 4.1/16.4 MB 2.9 MB/s eta 0:00:05
   ---------- ----------------------------- 4.2/16.4 MB 2.9 MB/s eta 0:00:05
   ---------- ----------------------------- 4.3/16.4 MB 2.9 MB/s eta 0:00:05
   ---------- ----------------------------- 4.4/16.4 MB 2.9 MB/s eta 0:00:05
   ----------- ---------------------------- 4.5/16.4 MB 2.9 MB/s eta 0:00:05
   ----------- ---------------------------- 4.7/16.4 MB 2.9 MB/s eta 0:00:05
   ----------- ---------------------------- 4.9/16.4 MB 2.9 MB/s eta 0:00:04
   ------------ --------------------------- 5.1/16.4 MB 3.0 MB/s eta 0:00:04
   ------------ --------------------------- 5.2/16.4 MB 3.0 MB/s eta 0:00:04
   ------------- -------------------------- 5.4/16.4 MB 3.0 MB/s eta 0:00:04
   ------------- -------------------------- 5.6/16.4 MB 3.0 MB/s eta 0:00:04
   -------------- ------------------------- 5.7/16.4 MB 3.0 MB/s eta 0:00:04
   -------------- ------------------------- 5.9/16.4 MB 3.0 MB/s eta 0:00:04
   --------------- ------------------------ 6.2/16.4 MB 3.0 MB/s eta 0:00:04
   --------------- ------------------------ 6.4/16.4 MB 3.1 MB/s eta 0:00:04
   ---------------- ----------------------- 6.7/16.4 MB 3.2 MB/s eta 0:00:04
   ---------------- ----------------------- 7.0/16.4 MB 3.2 MB/s eta 0:00:03
   ----------------- ---------------------- 7.3/16.4 MB 3.3 MB/s eta 0:00:03
   ------------------ --------------------- 7.6/16.4 MB 3.3 MB/s eta 0:00:03
   ------------------- -------------------- 7.9/16.4 MB 3.4 MB/s eta 0:00:03
   -------------------- ------------------- 8.2/16.4 MB 3.5 MB/s eta 0:00:03
   -------------------- ------------------- 8.6/16.4 MB 3.5 MB/s eta 0:00:03
   --------------------- ------------------ 8.9/16.4 MB 3.6 MB/s eta 0:00:03
   ---------------------- ----------------- 9.2/16.4 MB 3.7 MB/s eta 0:00:02
   ----------------------- ---------------- 9.6/16.4 MB 3.7 MB/s eta 0:00:02
   ------------------------ --------------- 10.1/16.4 MB 3.8 MB/s eta 0:00:02
   ------------------------- -------------- 10.6/16.4 MB 3.9 MB/s eta 0:00:02
   -------------------------- ------------- 10.9/16.4 MB 4.1 MB/s eta 0:00:02
   --------------------------- ------------ 11.1/16.4 MB 4.2 MB/s eta 0:00:02
   --------------------------- ------------ 11.4/16.4 MB 4.2 MB/s eta 0:00:02
   ---------------------------- ----------- 11.7/16.4 MB 4.2 MB/s eta 0:00:02
   ----------------------------- ---------- 11.9/16.4 MB 4.2 MB/s eta 0:00:02
   ----------------------------- ---------- 12.2/16.4 MB 4.2 MB/s eta 0:00:02
   ------------------------------ --------- 12.4/16.4 MB 4.2 MB/s eta 0:00:01
   ------------------------------ --------- 12.5/16.4 MB 4.2 MB/s eta 0:00:01
   ------------------------------ --------- 12.6/16.4 MB 4.2 MB/s eta 0:00:01
   ------------------------------- -------- 12.8/16.4 MB 4.1 MB/s eta 0:00:01
   ------------------------------- -------- 13.0/16.4 MB 4.1 MB/s eta 0:00:01
   -------------------------------- ------- 13.1/16.4 MB 4.1 MB/s eta 0:00:01
   -------------------------------- ------- 13.3/16.4 MB 4.0 MB/s eta 0:00:01
   -------------------------------- ------- 13.4/16.4 MB 4.1 MB/s eta 0:00:01
   --------------------------------- ------ 13.5/16.4 MB 4.1 MB/s eta 0:00:01
   --------------------------------- ------ 13.7/16.4 MB 4.2 MB/s eta 0:00:01
   --------------------------------- ------ 13.9/16.4 MB 4.3 MB/s eta 0:00:01
   ---------------------------------- ----- 14.0/16.4 MB 4.4 MB/s eta 0:00:01
   ---------------------------------- ----- 14.2/16.4 MB 4.5 MB/s eta 0:00:01
   ----------------------------------- ---- 14.4/16.4 MB 4.6 MB/s eta 0:00:01
   ----------------------------------- ---- 14.6/16.4 MB 4.6 MB/s eta 0:00:01
   ------------------------------------ --- 14.8/16.4 MB 4.6 MB/s eta 0:00:01
   ------------------------------------ --- 15.0/16.4 MB 4.7 MB/s eta 0:00:01
   ------------------------------------- -- 15.3/16.4 MB 4.8 MB/s eta 0:00:01
   -------------------------------------- - 15.6/16.4 MB 4.9 MB/s eta 0:00:01
   -------------------------------------- - 15.9/16.4 MB 5.0 MB/s eta 0:00:01
   ---------------------------------------  16.2/16.4 MB 5.0 MB/s eta 0:00:01
   ---------------------------------------  16.4/16.4 MB 5.1 MB/s eta 0:00:01
   ---------------------------------------  16.4/16.4 MB 5.1 MB/s eta 0:00:01
   ---------------------------------------  16.4/16.4 MB 5.1 MB/s eta 0:00:01
   ---------------------------------------  16.4/16.4 MB 5.1 MB/s eta 0:00:01
   ---------------------------------------  16.4/16.4 MB 5.1 MB/s eta 0:00:01
   ---------------------------------------  16.4/16.4 MB 5.1 MB/s eta 0:00:01
   ---------------------------------------  16.4/16.4 MB 5.1 MB/s eta 0:00:01
   ---------------------------------------  16.4/16.4 MB 5.1 MB/s eta 0:00:01
   ---------------------------------------  16.4/16.4 MB 5.1 MB/s eta 0:00:01
   ---------------------------------------  16.4/16.4 MB 5.1 MB/s eta 0:00:01
   ---------------------------------------  16.4/16.4 MB 5.1 MB/s eta 0:00:01
   ---------------------------------------  16.4/16.4 MB 5.1 MB/s eta 0:00:01
   ---------------------------------------  16.4/16.4 MB 5.1 MB/s eta 0:00:01
   ---------------------------------------  16.4/16.4 MB 5.1 MB/s eta 0:00:01
   ---------------------------------------  16.4/16.4 MB 5.1 MB/s eta 0:00:01
   ---------------------------------------  16.4/16.4 MB 5.1 MB/s eta 0:00:01
   ---------------------------------------  16.4/16.4 MB 5.1 MB/s eta 0:00:01
   ---------------------------------------  16.4/16.4 MB 5.1 MB/s eta 0:00:01
   ---------------------------------------  16.4/16.4 MB 5.1 MB/s eta 0:00:01
   ---------------------------------------  16.4/16.4 MB 5.1 MB/s eta 0:00:01
   ---------------------------------------  16.4/16.4 MB 5.1 MB/s eta 0:00:01
   ---------------------------------------  16.4/16.4 MB 5.1 MB/s eta 0:00:01
   ---------------------------------------  16.4/16.4 MB 5.1 MB/s eta 0:00:01
   ---------------------------------------- 16.4/16.4 MB 3.3 MB/s eta 0:00:00
Downloading pandas-2.3.1-cp312-cp312-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
    --------------------------------------- 0.3/11.0 MB 7.9 MB/s eta 0:00:02
   - -------------------------------------- 0.5/11.0 MB 6.7 MB/s eta 0:00:02
   -- ------------------------------------- 0.8/11.0 MB 6.3 MB/s eta 0:00:02
   ---- ----------------------------------- 1.1/11.0 MB 6.5 MB/s eta 0:00:02
   ---- ----------------------------------- 1.4/11.0 MB 6.2 MB/s eta 0:00:02
   ------ --------------------------------- 1.7/11.0 MB 6.3 MB/s eta 0:00:02
   ------- -------------------------------- 2.0/11.0 MB 6.3 MB/s eta 0:00:02
   -------- ------------------------------- 2.2/11.0 MB 6.4 MB/s eta 0:00:02
   --------- ------------------------------ 2.5/11.0 MB 6.2 MB/s eta 0:00:02
   ---------- ----------------------------- 2.9/11.0 MB 6.6 MB/s eta 0:00:02
   ----------- ---------------------------- 3.2/11.0 MB 6.8 MB/s eta 0:00:02
   ------------ --------------------------- 3.3/11.0 MB 6.3 MB/s eta 0:00:02
   ------------- -------------------------- 3.6/11.0 MB 6.0 MB/s eta 0:00:02
   ------------- -------------------------- 3.7/11.0 MB 5.9 MB/s eta 0:00:02
   ------------- -------------------------- 3.8/11.0 MB 5.5 MB/s eta 0:00:02
   -------------- ------------------------- 3.9/11.0 MB 5.3 MB/s eta 0:00:02
   --------------- ------------------------ 4.4/11.0 MB 5.6 MB/s eta 0:00:02
   ----------------- ---------------------- 4.7/11.0 MB 5.7 MB/s eta 0:00:02
   ------------------ --------------------- 5.2/11.0 MB 5.9 MB/s eta 0:00:01
   -------------------- ------------------- 5.5/11.0 MB 5.9 MB/s eta 0:00:01
   --------------------- ------------------ 5.9/11.0 MB 6.0 MB/s eta 0:00:01
   ---------------------- ----------------- 6.2/11.0 MB 6.0 MB/s eta 0:00:01
   ----------------------- ---------------- 6.5/11.0 MB 5.9 MB/s eta 0:00:01
   ------------------------ --------------- 6.7/11.0 MB 6.0 MB/s eta 0:00:01
   ------------------------- -------------- 6.9/11.0 MB 5.9 MB/s eta 0:00:01
   ------------------------- -------------- 7.1/11.0 MB 5.7 MB/s eta 0:00:01
   ------------------------- -------------- 7.1/11.0 MB 5.6 MB/s eta 0:00:01
   -------------------------- ------------- 7.2/11.0 MB 5.4 MB/s eta 0:00:01
   -------------------------- ------------- 7.4/11.0 MB 5.3 MB/s eta 0:00:01
   --------------------------- ------------ 7.5/11.0 MB 5.2 MB/s eta 0:00:01
   --------------------------- ------------ 7.6/11.0 MB 5.1 MB/s eta 0:00:01
   ---------------------------- ----------- 7.7/11.0 MB 5.0 MB/s eta 0:00:01
   ---------------------------- ----------- 7.8/11.0 MB 4.9 MB/s eta 0:00:01
   ----------------------------- ---------- 8.0/11.0 MB 4.9 MB/s eta 0:00:01
   ----------------------------- ---------- 8.1/11.0 MB 4.8 MB/s eta 0:00:01
   ----------------------------- ---------- 8.2/11.0 MB 4.7 MB/s eta 0:00:01
   ------------------------------ --------- 8.3/11.0 MB 4.7 MB/s eta 0:00:01
   ------------------------------ --------- 8.5/11.0 MB 4.7 MB/s eta 0:00:01
   ------------------------------- -------- 8.7/11.0 MB 4.7 MB/s eta 0:00:01
   -------------------------------- ------- 8.9/11.0 MB 4.7 MB/s eta 0:00:01
   --------------------------------- ------ 9.1/11.0 MB 4.6 MB/s eta 0:00:01
   --------------------------------- ------ 9.3/11.0 MB 4.6 MB/s eta 0:00:01
   ---------------------------------- ----- 9.5/11.0 MB 4.6 MB/s eta 0:00:01
   ----------------------------------- ---- 9.6/11.0 MB 4.6 MB/s eta 0:00:01
   ----------------------------------- ---- 9.9/11.0 MB 4.5 MB/s eta 0:00:01
   ------------------------------------ --- 10.0/11.0 MB 4.5 MB/s eta 0:00:01
   ------------------------------------- -- 10.2/11.0 MB 4.5 MB/s eta 0:00:01
   ------------------------------------- -- 10.4/11.0 MB 4.5 MB/s eta 0:00:01
   -------------------------------------- - 10.5/11.0 MB 4.4 MB/s eta 0:00:01
   -------------------------------------- - 10.6/11.0 MB 4.3 MB/s eta 0:00:01
   -------------------------------------- - 10.7/11.0 MB 4.3 MB/s eta 0:00:01
   ---------------------------------------  10.8/11.0 MB 4.2 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.0 MB 4.2 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.0 MB 4.1 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.0 MB 4.1 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.0 MB 4.1 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.0 MB 4.1 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.0 MB 4.1 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.0 MB 4.1 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.0 MB 4.1 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.0 MB 4.1 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.0 MB 4.1 MB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 3.5 MB/s eta 0:00:00
Downloading greenlet-3.2.3-cp312-cp312-win_amd64.whl (297 kB)
   ---------------------------------------- 0.0/297.8 kB ? eta -:--:--
   --------------------------- ------------ 204.8/297.8 kB 6.3 MB/s eta 0:00:01
   ---------------------------------------- 297.8/297.8 kB 3.7 MB/s eta 0:00:00
Downloading numpy-2.3.1-cp312-cp312-win_amd64.whl (12.7 MB)
   ---------------------------------------- 0.0/12.7 MB ? eta -:--:--
    --------------------------------------- 0.3/12.7 MB 5.7 MB/s eta 0:00:03
   - -------------------------------------- 0.5/12.7 MB 5.6 MB/s eta 0:00:03
   -- ------------------------------------- 0.8/12.7 MB 6.3 MB/s eta 0:00:02
   --- ------------------------------------ 1.0/12.7 MB 5.7 MB/s eta 0:00:03
   ---- ----------------------------------- 1.3/12.7 MB 5.6 MB/s eta 0:00:03
   ---- ----------------------------------- 1.5/12.7 MB 5.5 MB/s eta 0:00:03
   ------ --------------------------------- 1.9/12.7 MB 5.8 MB/s eta 0:00:02
   ------ --------------------------------- 2.1/12.7 MB 5.2 MB/s eta 0:00:03
   ------ --------------------------------- 2.2/12.7 MB 5.2 MB/s eta 0:00:03
   ------- -------------------------------- 2.5/12.7 MB 5.3 MB/s eta 0:00:02
   -------- ------------------------------- 2.8/12.7 MB 5.4 MB/s eta 0:00:02
   --------- ------------------------------ 3.2/12.7 MB 5.6 MB/s eta 0:00:02
   ----------- ---------------------------- 3.5/12.7 MB 5.8 MB/s eta 0:00:02
   ------------ --------------------------- 3.9/12.7 MB 5.9 MB/s eta 0:00:02
   ------------- -------------------------- 4.2/12.7 MB 5.8 MB/s eta 0:00:02
   -------------- ------------------------- 4.5/12.7 MB 5.8 MB/s eta 0:00:02
   -------------- ------------------------- 4.7/12.7 MB 5.8 MB/s eta 0:00:02
   --------------- ------------------------ 5.1/12.7 MB 5.9 MB/s eta 0:00:02
   ---------------- ----------------------- 5.3/12.7 MB 5.8 MB/s eta 0:00:02
   ----------------- ---------------------- 5.6/12.7 MB 5.7 MB/s eta 0:00:02
   ----------------- ---------------------- 5.7/12.7 MB 5.6 MB/s eta 0:00:02
   ------------------ --------------------- 5.8/12.7 MB 5.5 MB/s eta 0:00:02
   ------------------ --------------------- 5.9/12.7 MB 5.3 MB/s eta 0:00:02
   ------------------ --------------------- 6.0/12.7 MB 5.1 MB/s eta 0:00:02
   ------------------ --------------------- 6.0/12.7 MB 5.0 MB/s eta 0:00:02
   ------------------- -------------------- 6.1/12.7 MB 4.8 MB/s eta 0:00:02
   ------------------- -------------------- 6.1/12.7 MB 4.7 MB/s eta 0:00:02
   ------------------- -------------------- 6.2/12.7 MB 4.6 MB/s eta 0:00:02
   ------------------- -------------------- 6.3/12.7 MB 4.5 MB/s eta 0:00:02
   -------------------- ------------------- 6.4/12.7 MB 4.4 MB/s eta 0:00:02
   -------------------- ------------------- 6.5/12.7 MB 4.3 MB/s eta 0:00:02
   -------------------- ------------------- 6.6/12.7 MB 4.2 MB/s eta 0:00:02
   --------------------- ------------------ 6.7/12.7 MB 4.2 MB/s eta 0:00:02
   --------------------- ------------------ 6.8/12.7 MB 4.2 MB/s eta 0:00:02
   --------------------- ------------------ 7.0/12.7 MB 4.1 MB/s eta 0:00:02
   ---------------------- ----------------- 7.2/12.7 MB 4.1 MB/s eta 0:00:02
   ---------------------- ----------------- 7.3/12.7 MB 4.1 MB/s eta 0:00:02
   ----------------------- ---------------- 7.6/12.7 MB 4.1 MB/s eta 0:00:02
   ------------------------ --------------- 7.8/12.7 MB 4.1 MB/s eta 0:00:02
   ------------------------- -------------- 8.0/12.7 MB 4.1 MB/s eta 0:00:02
   ------------------------- -------------- 8.3/12.7 MB 4.1 MB/s eta 0:00:02
   -------------------------- ------------- 8.5/12.7 MB 4.2 MB/s eta 0:00:02

  WARNING: The scripts f2py.exe and numpy-config.exe are installed in 'c:\Users\Digital Suppliers\AppData\Local\Programs\Python\Python312\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
which python

SyntaxError: invalid syntax (1722139382.py, line 1)